/* General styles */
body {
    background: linear-gradient(0deg, #ff4c4c 5%, #2c2c2c 95%);
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    margin-top: 80px;
}

/* Navbar Base */
.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 20px;
    z-index: 1000;
}

.team-image {
    max-height: 300px; /* Ajusta la imagen */
    max-width: 100%; /* Asegúrate de que no se desborde */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Cubre el área sin deformarse */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoLiga {
    display: flex;
    align-items: center;
    color: #e63946;
}

.logoLiga img {
    max-height: 60px;
    width: auto;
    margin-right: 10px;
}

.logoLiga h1 a {
    color: #e63946;
    font-size: 20px;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 0.3s;
}

.logoLiga h1 a:hover {
    color: #f0f0f0;
}

.menu-toggle {
    font-size: 30px;
    color: #f0f0f0;
    cursor: pointer;
    display: block;
}

/* Menu Links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2c2c2c;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.nav-links.active {
    display: block;
    transform: translateY(0);
}

.nav-links li {
    margin: 10px 0;
    text-align: center;
}

.nav-links li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 1px;
}

.nav-links li a:hover {
    color: #2c2c2c;
    background-color: #e63946;
}

/* Desktop View */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
        transform: none;
        max-height: none;
    }

    .nav-links li {
        margin: 0 15px;
    }
}

/* Mobile Menu Toggle */
.menu-toggle.active + .nav-links {
    display: flex;
    transform: translateY(0);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2c2c;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    overflow-x: auto;
}

#goleadores,
.main-content,
#tablaProximosPartidos,
#jornadas-container,
#equipos {
    scroll-margin-top: 100px;
}

thead {
    background-color: #e63946;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

tbody tr:nth-child(even) {
    background-color: #333;
}

tbody tr:hover {
    background-color: #444;
}

footer {
    background-color: #2c2c2c;
    padding: 20px;
    text-align: center;
}

.colaboradores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    max-height: 200px;
    width: auto;
}

.logo:hover {
    transform: scale(1.1);
}

/* Responsivo: ajuste en pantallas pequeñas */
@media (max-width: 768px) {

    #goleadores,
    .main-content,
    #tablaProximosPartidos,
    #jornadas-container,
    #equipos {
        scroll-margin-top: 140px;
    }

    .colaboradores {
        flex-direction: column;
    }

    .logo {
        max-width: 100px;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
    .menu-toggle.active {
        margin-right: 1em;
    }
    .menu-toggle {
        margin-right: 1em;
    }   
}

/* Ajustes adicionales para texto en smartphones */
@media (max-width: 600px) {
    .logoLiga h1 a {
        font-size: 16px;
    }

    .nav-links li a {
        font-size: 14px;
    }

    .navbar {
        padding: 5px;
    }

    .jornada-title {
        font-size: 1em;
    }

    .resultado {
        font-size: 0.8em;
    }

    .estado {
        font-size: 0.8em;
    }

    .partido {
        padding: 8px;
    }

    .jornada {
        padding: 8px;
    }

    thead {
        background-color: #e63946;
        color: white;
    }

    th,
    td {
        padding: 3px;
    }
}

